spring:
  application:
    name: webbudget

  main:
    banner-mode: off

  threads:
    virtual:
      enabled: true

  datasource:
    url: jdbc:postgresql://${DATABASE_URL:localhost:5433/webbudget}
    username: ${DATABASE_USER:sa_webbudget}
    password: ${DATABASE_PASSWORD:sa_webbudget}
    hikari:
      pool-name: ${spring.application.name}_pool
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

  liquibase:
    enabled: true
    databaseChangeLogTable: database_changelog
    databaseChangeLogLockTable: database_changelog_lock
    change-log: db/changelog/db.changelog.master.xml

  mail:
    host: ${MAIL_HOST:localhost}
    port: ${MAIL_PORT:1025}
    username: ${MAIL_USER:maildev}
    password: ${MAIL_PASSWORD:maildev}
    properties:
      mail.transport.protocol: smtp
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.debug: false

server:
  port: ${APPLICATION_PORT:8085}

management:
  endpoints:
    access:
      default: read_only
    web:
      exposure:
        include: [ 'health', 'info' ]

web-budget:
  frontend-url: ${APPLICATION_FRONTEND_URL:http://localhost:8080}
  jwt:
    private-key: classpath:keys/rsa.key
    public-key: classpath:keys/rsa.pub
    expiration-seconds: ${APPLICATION_JWT_TIMEOUT:3600} # seconds
  mail:
    reply-to-address: ${MAIL_REPLY_TO_ADDRESS:noreply@webbudget.com.br}
    default-from-address: ${MAIL_DEFAULT_FROM_ADDRESS:noreply@webbudget.com.br}
    logo-url: ${web-budget.frontend-url}/logo.png